<main class="recipe-container">
  <div class="recipe-header">
    <h2>
      <%= @recipe.name %>
    </h2>
    <div>
      <p> Preparation Time: <%= @recipe.preparationTime %> </p>
      <div>
        <%= form_with url: update_path(@recipe), method: "put" do |form| %>
          <div>
            <% if @recipe.public == false %>
              <%= form.check_box :public, id: "switch", onchange: "this.form.submit();"%>
              <label for="switch">Public</label>
            <% else %>
              <%= form.check_box :public, id: "checked-switch", checked: true, onchange: "this.form.submit();" %>
              <label for="checked-switch">Public</label>
            <%end%>
          </div>
        <%end%>
      </div>
    </div>
    <div>
      <p>Cooking Time: <%= @recipe.cookingTime %></p>
    </div>
    <div>
      <h2>Description:</h2>
      <p> <%= @recipe.description %> </p>
    </div>
    <div>
      <button>Generate Shopping List</button>
      <%= link_to 'Add Ingredient', new_recipe_recipe_food_path(@recipe), class: 'button-class' %>
    </div>
  </div>
  <hr>
  <table class="recipe-foods-table">
    <thead>
    <tr>
      <th>Food</th>
      <th>Quantity</th>
      <th>Value</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <% @recipe.recipe_foods.each do |recipe_food| %>
      <tr>
        <td><%= recipe_food.food.name%></th>
        <td><%= recipe_food.quantity%><%= recipe_food.food.measurementUnit  %></td>
        <td><%= recipe_food.quantity %> <%= recipe_food.food.price %></td>
        <td>
          <div>
            <%= link_to "Modify", edit_recipe_recipe_food_path(recipe_id: @recipe.id, id: recipe_food.id) %>
            <%= button_to "Delete", recipe_recipe_food_path(recipe_id: @recipe.id, id: recipe_food.id), method: :delete %>
          </div>
        </td>
      </tr>
    <% end%>
    </tbody>
  </table>
</main>
